<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат</title>
    <link rel="stylesheet" href="styleChat.css">
</head>

<body>

    <div id="chat-container">
        <div id="messages"></div>
        <div id="message-input">
            <input type="text" id="message" placeholder="Введите сообщение..." />
            <button id="send-button">Отправить</button>
        </div>
    </div>

    <script>   //TODO Переписать на Java
        
        const messagesDiv = document.getElementById('messages');
        const messageInput = document.getElementById('message');
        const sendButton = document.getElementById('send-button');

        sendButton.addEventListener('click', sendMessage);
        messageInput.addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        function sendMessage() {
            const messageText = '-> ' + messageInput.value.trim() + " " + new Date();
            if (messageText) {
                const messageElement = document.createElement('div');
                messageElement.textContent = messageText;
                messagesDiv.appendChild(messageElement);
                messageInput.value = '';
                messagesDiv.scrollTop = messagesDiv.scrollHeight; // Прокрутка вниз-->
            }
        }
    </script>

</body>

</html>